body
{
	background: #fff url("images/bg-line.png") 0 -21px repeat-x;
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 0.84em;
	color: #4F4F4F;
	text-align: left;
}

body,td,select,input,li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#masthead {position: relative; height: 100px;}
#masthead h1
{
	display: block;
	float: right;
	margin: 0;
	padding: .3em .3em 0 0;
	z-index: 100000;
	width: 255px;
	height: 56px;
	background: url("images/sf_logo.png") 10px 10px no-repeat;
}

#masthead h1 a
{
	text-indent: -700em;
	text-decoration: none;
	right: 0;
	position: absolute;
	width: 255px;
}

#masthead h1 a:hover { text-decoration: none !important; }

#qoflogo 
{
	background: #fff url("images/bg.png") 0 -21px repeat-x;
	text-align: left;
	left: 0;
	position: absolut;
	z-index: 10000;
	width: 171px;
	height: 95px;
	padding: 3px 0px 10px 0px;
}

#navColumn {
  margin: 10px 10px 10px 10px;
  border: 1px solid #fff;
  background-color: #fff;
  float: left;
}

#navColumn h1 {
  font-size: 10pt;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 12px;
  margin-right: 20px;
  color: #66665c;
}

#navColumn ul {
  list-style: none;
  margin-left: 8px;
  padding-left: 1em;
  text-indent: -1em;
}

#navColumn ul li:before {
  content: "\00BB \0020";
  font-weight:bold;
}

#left {
  position: absolute;
  z-index: 2;
  left: 8px;
  width: 184px;
  top: 125px;
  bottom: 8px;
  margin: 0px;
  padding: 0px;
}

div.section {
  margin-right:35px;
}

div.section ul li, div.section ol li {
  margin-left:145px;
}

a {
  text-decoration: none;
}

a:link {
	color: #8B0000;
}

a:visited {
  color: #8B0000;
}

a:active,a:hover {
  color: #8B0000;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.right {
  text-align: right;
  margin-right: 10px;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th,table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.titlebar, .tbar h3, .tbarhigh h3 {
  border-top: 1px solid #bcd; 
  background: #eef0f3 url("http://images.sourceforge.net/sfx/sfx_titlebar_bg2.png") repeat-x bottom left; 
  font-size: 82.3%; 
  color: #456; 
  padding: .3em .5em 1.7em .5em; 
  margin: 0 0 -.5em 0;
}
